.cardStyleSelected{
    width: 100%;
    height: -webkit-fill-available;
    margin: 10px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #a8c0e4;
    img{
        width: auto;
        height: 13vh;
    }
}
.card{
    width: 100%;
    height: -webkit-fill-available;
    margin: 10px;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f9ff;
    img{
        width: auto;
        height: 13vh;
    }
}
    .cardStyle{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
    .cardBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        color: black;
    }
    .precio{
        font-size: 1.5rem;
        font-weight: bold;
        color: #c0187a;
    }
    .botonesCompra{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        gap: 10px;
        padding-top: 2vh;
    }

    @media screen and (max-width: 767px){
        .card{
            width: 100%;
            height: -webkit-fill-available;
            margin: 10px;
            padding: 3vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #e9f9ff;
            img{
                width: auto;
                height: 13vh;
            }
        }
        .cardStyle{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
        }
    }
