ul{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;
    /*background-color: #f3c061;*/
}

.iconCarrito{
    font-size: 1.5rem;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px
}
.bienvenida{
    font-size: 1.5rem;
    color: #0d6efd;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

@media screen and (max-width: 767px){
    ul{
        font-size: 1rem;
    }
    .iconCarrito{
        font-size: 1.5rem;
    }
    .bienvenida{
        font-size: 1rem;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}