ul{
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;
    /*background-color: #f3c061;*/
}

.iconCarrito{
    font-size: 1.5rem;
}
.nav{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.pBienvenida{
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bienvenida{
    margin: 0;
    font-size: 1.5rem;
    color: #cddcf1;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    .nav-link{
        border-bottom: none;
    }
}

.cartBadge {
    position: relative; /* Para posicionarlo sobre el ícono */
    bottom: 2vh; /* Ajusta la posición vertical */
    right: 2vh; /* Ajusta la posición horizontal */
    padding: 1px 6px;
    border-radius: 50%; /* Para que sea circular */
    background-color: #dc3545; /* Color rojo (similar a Bootstrap 'danger') */
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    /* Asegura que el texto no se corte */
    min-width: 18px; 
    text-align: center;
    line-height: 1.2;
}

@media screen and (max-width: 767px){
    ul{
        font-size: 1rem;
        background-color: white;
    }
    .iconCarrito{
        font-size: 1.5rem;
    }
    .pBienvenida{
        font-size: 1rem;
        background-color: transparent;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:max-content;
    }
}