.contenedorAlerta{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.alerta{
    width: 40%;
    background-color: rgba(171, 81, 255, 0.575);
    color: white;
    padding: 2.5vh;
    border-radius: 10vh;
}