button{
    margin: 2vh;
    background-color: #012861;
    color: white;
    margin: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.formulario{
    width: 100%;
    padding: 2vh 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 767px){
    .formulario{
        width: 100%;
        padding: 2vh 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}