
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5vh;
    h2{
        text-align: center;
        color: #ce196d;
        padding: 10vh;
        font-weight: bold;
        font-size: 2rem;
    }
}
.divLogin{
        width: 50%;
    }
.formulario{
    width: 100%;
    padding: 0vh 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}