h1{
    padding: 5vh;
}
.inicio{
    background-color: #e3ffe9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafo{
    font-size: 1rem;
    font-weight: bold;
    color: #012861;
    padding: 5vh 10vh;
}

.destacados{
    margin: 5vh;
    .precio{
        font-size: 1.5rem;
        font-weight: bold;
        color: #c0187a;
    }
}

@media screen and (max-width: 767px){
    .parrafo{
        font-size: 0.8rem;
    }
}